<template>
  <div class="hello">
    <h1>{{ msg }}</h1>
    <div>
      <p>Lieve Vader dank U wel voor Stefan dat hij vandaag zijn keuze voor U publiekelijk bekend maakt!</p>
      <p>
        Stefan ik bid jou toe, dat:
        <ul v-bind:class="{ cor13: cor13}">
          <li v-bind:class="{ ps23: ps23}">Je een man zal zijn van geloof, dat je zelfs in een dal vol schaduw van de dood geen kwaad zou vrezen, omdat je gelooft dat God altijd met jou zal zijn.</li>
        <li v-bind:class="{ ps121: ps121}">Je een man zal zijn van hoop in hopeloze situaties, omdat je jouw hulp verwacht van de Heere.</li>
        <li v-bind:class="{ cor13: cor13}">Je een man zal zijn vol van agape (onvoorwaardelijke liefde), zelfs in situaties waarin liefdeloosheid is, <span v-bind:class="{ 'cor13-italic': cor13}">omdat je weet dat de Heere jouw bron van liefde is.</span>
        </li>
        </ul>      
      </p>
      <p>
        Stefan ik zegen jou met veel wijsheid en inzicht. En dat je zal blijven wandelen in de bestemming die God voor jou heeft.
      </p>
      <p>
      AMEN
      </p>
    </div>
    <div>
      <h2>Gebruikte teksten</h2>
      <ul>
        <li class="ps23" @mouseenter="ps23=true" @mouseout="ps23=false">Psalm 23</li>
        <li class="ps121" @mouseenter="ps121=true" @mouseout="ps121=false">Psalm 121</li>
        <li class="cor13" @mouseenter="cor13=true" @mouseout="cor13=false">1 Corinthe 13</li>
      </ul>
    </div>
  </div>
</template>



<script lang="ts">
import { Component, Prop, Vue } from "vue-property-decorator";

@Component
export default class HelloWorld extends Vue {
  @Prop() private msg!: string;
  private ps23 = false;
  private ps121 = false;
  private cor13 = false;
}
</script>

<!-- Add "scoped" attribute to limit CSS to this component only -->
<style scoped>
h3 {
  margin: 40px 0 0;
}
a {
  color: #42b983;
}
div.hello {
  text-align: left;
  margin-left: 10%;
  align-content: left;
}
.ps23 {
  color: blue;
  font-weight: bold;
}
.ps121 {
  color: red;
  font-weight: bold;
}
.cor13 {
  color: lightseagreen;
  font-weight: bold;
}
.cor13-italic {
  font-style: italic
}
</style>
